body{
  background-color: aquamarine;
}

img {
float: right;
  width: 150px ;
  height: 217px;
  object-fit: cover;
}
h1 {
  left: 317px;
  top: 97px;
  width: 529px;
  text-align: center;
}

p {
  color: #000000;
  background-color: aliceblue;
  left: 64px;
  top: 59px;
  max-width: 1054px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 48px;
  position: absolute;
}
div {
  text-align: center;
  width: 300px;
  height: 200px;
position: absolute;
bottom: 10px;
width: 100%;
font-size: large;
}
  
  