body{
    background-color: aquamarine;
  }

  h1 {
    left: 317px;
    top: 97px;
    width: 529px;
    text-align: center;
  }

img {
    float: right;
      width: 150px ;
      height: 217px;
      object-fit: cover;
}

p {
    background-color: aliceblue;
    color: #000000;
    left: 64px;
    top: 59px;
    max-width: 1054px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    position: absolute;
  }

  div {
    color: #000000;
    text-align: center;
    width: 300px;
    height: 200px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: large;
  }
  #fråga{
    background-color: white;
      float: right;
      margin-top: 250px;
  }
  